In [22]:
import pandas as pd

In [23]:
lines = []
with open("linnik.txt", encoding="windows-1251") as f:
    for line in f:
        lines.append(line)

In [25]:
anecdotes = pd.DataFrame({
    "text": " ".join([l.replace("\n", " ") if l != "\n" else "<SEP>" for l in lines[4:]]).split("<SEP>")
})

In [35]:
anecdotes = anecdotes[anecdotes.text.apply(lambda x: len(x) > 20)]

In [42]:
anecdotes.to_csv("anecdotes.csv", index=False)

In [54]:
anecdotes.sample(1).text.to_list()[0].strip()

'Поймал мужик золотую рыбку.     Рыбка:     - Отпусти меня,  я твое любое желание выполню!     - Ладно,  сделай так, чтоб я водкой мочился.     - Будь по-твоему.     Пришел мужике  домой,   помочился в стакан, понюхал  - водка, выпил - вод-  ка. Обрадовался,  выпил еще стаканчик.     Приходит к нему приятель.     - Ты чего делаешь?     - В-о-дку пью.     - А где достал?     Ну, тот ему все и рассказал.     - Так налей и мне стаканчик,- обрадовался приятель.     Стал ему  мужик  наливать,  да руки дрожат, все мимо стакана льет.     - Эй,  ты зачем разливаешь, давай я лучше с горла!'

In [55]:
anecdotes

                                                   text
0     Вечер,дождь. Английский джентельмен сидит у ка...
1      Чапай поступает в институт и провливает экзам...
2       Похороны. Друг - Родственнику:  - Кого хорон...
3       Приходит Луначарский к Ленину:   - Ильич, на...
4       Плeмянник: "Блaгoдapю вac, тeтушкa, зa пoдap...
...                                                 ...
9487        "Так больше не может продолжатся.  Hужно...
9489        Как все таки хорошо иметь настоящего дру...
9491        И какого ляда мы выбрали этого Тетриса в...
9493        Плохие новости.  - сообщил командир Hорт...
9495        - Эй,  Клиппер, я слышал тебе на пенсию ...

[4803 rows x 1 columns]